@charset "UTF-8";

@font-face{
    font-family: 'Netflix Sans regular';
    src: url(/fonts/NetflixSans_W_Md.woff2) format('woff2');
}

:root{
    --regular-font: 'Netflix Sans regular', Arial, Helvetica, sans-serif;

    --white: white;
    --black: black;
    --red: #E50914;
    --grey: #222;
    --light-grey: #303030;
    --lighter-grey: #737373;
    --blue: #0071eb;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    color: var(--white);
    font-family: var(--regular-font)
}

h1{
    font-family: var(--regular-font);
    font-size: 50px;
    font-weight: light;
}

h2{
    font-family: var(--regular-font);
    font-size: 26px;
    font-weight: 300;
}

h3{
    font-family: var(--regular-font);
    font-size: 19px;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: var(--white)
}

.red-button{
    text-decoration: none;;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.168);
    background-color: var(--red);
    color: var(--white);
}
.red-button:active{
    filter: brightness(70%);
}

.header{
    display: grid;
    align-items: center;
    justify-content: center;

    height: 100vh;
    position: relative;
    border-bottom: 1.5vh solid var(--grey);

    line-height: 1.1;
}
.header::before{
    content: '';
    height: 100%;
    width: 100%;
    z-index: -2;

    position: absolute;
    top: 0;
    left: 0;

    background-image: url(../images/baner-variedades.jpg);
    background-position: center center;
    background-size: cover;
}

.header::after{
    content: '';
    height: 100%;
    width: 100%;
    z-index: -1;

    position: absolute;
    top: 0;
    left: 0;

    background-image: linear-gradient(to bottom, rgba(0,0,0,.8), transparent 60%, rgba(0,0,0,.8));
}
.header nav{
    height: 7vw;
    position: absolute;
    top: 0;
    margin-top: 4vh;
    left: 4vw;
    width: 92vw;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-flow: row;
    align-items: center;
}
.header .laguage-select{
    border: 1.5px solid var(--white);
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    appearance: none;
    padding: 9px 22px;
    color: var(--white);
    background-color: transparent;
    margin: 0 5%;
}

.laguage-select:hover{
    cursor: pointer;
}
.header nav .enter{
    padding: 6px 17px;
    border-radius: 3px;
    margin: 0 5%;
}

.laguage-select option{
    background-color: grey;
}

.header .header-mid{
    padding-top: 15%;
    width: 100%;
    text-align: center;

    display: grid;
    align-items: center;
    justify-items: center;
}

.header-text{
    width: 90%;
    max-width: 700px;
}

.header-text h2{
    display: inline-block;
    margin: 20px 0;
}

.header .login h3{
    display: inline-block;
    margin: 10px 0;
}
.inputs{
    width: 98%;
    height: 4rem;
    margin: 10px 0;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 70% 30%;
    margin: 20px auto;
}

.inputs .email-input{
    background-color: var(--white);
    padding: 8px;
}

.inputs div{
    width: 100%;
    position: relative;
}

.email-comit{
    width: 100%;
    height: 100%;
    padding: 8px 0;
    font-size: 26px;
    font-weight: 300;
}

.login .inputs div svg{
    position: absolute;
    top: 35%;
    right: 5%;
}

.main{
    overflow: hidden;
}

.animation-card{/* configurações dos cards animados dentro do main */
    display: grid;
    justify-items: center;
    padding: 0.5vw 0.5vw;
    min-height: 34vw;
    min-width: 100vw;
    border-bottom: 0.6vw solid var(--grey);
}

.animation-card-container .text, .animation-card-container .image{
    display: grid;
    justify-content: center;
    align-items: center;
}

.animation-card-container{ /* container com o text e a animação */
    max-height: 34vw;
    width: 82vw;
    max-width: 1100px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.animation-card-container .text{/* ajustando alinhamento da caixa de texto dentro do cantainer */
    height: min-content;
}

.animation-card-container .animation{
    height: 30vw;
    position: relative;
}

.animation-card-container .animation .image-tv{
    width:40vw;
}

.animation-card-container .animation .video-tv{

    position: absolute;
    top: 6.2vw;
    left: 5.2vw;

    width: 29.3vw;

    z-index: -1;
}

.wath-offline-text, .kids-space-text{/* ajustes especificos no itens do container */

    order: 1;
}

.animation-card-container .animation .image-mobile{
    width: 37vw;
    margin-left: -5.4vw;
}

.device-pile-animation-card-container .device-pile-animation .device-pile-image{
    width: 40.5vw;
}

.device-pile-animation .device-pile-video{
    border: 1px solid red;

    position: absolute;
    top: 3.1vw;
    left: 7.5vw;

    width: 25vw;
    z-index: -1;
}

.device-pile-animation-card, .kids-space-animation-card{/* sitings of device pile card */
    padding: 5vw 0;
}

.kids-space-image{
    width: 40vw;
}

.interative-animation-download{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vw;
    width: 24.2vw;
    padding: 0.2vw 0.8vw;

    border: 3px solid hsla(0,0%,100%,.25);
    border-radius: 0.75em;

    position: absolute;
    top: 62%;
    left: 2.7%;
    background: var(--black)
}

.stranger-things-image{
    max-height: 5.5vw;
}

.strangerthinks-text #p1{
    font-weight: bold;
}

.strangerthinks-text #p2{
    font-size: 0.9em;
    font-weight: 500;
    color: var(--blue)
}

.donload-ico{
    height: 50%;
    width: 15%;
    background-color: red;
    background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif');
    background-size: cover;

}

/* seção de perguntas frequentes */
.common-questions{
    width: 60%;
    margin: 5vw auto;
}

.common-questions .title{
    text-align: center;
    margin-bottom: 2.5vw;
}

.question-zone{
    margin-bottom: 0.7vw;
}

.question-zone .question{
    -webkit-user-select: none;/* deixando o texto não selecionavel em cada navegador */
    -moz-user-select: -moz-none;
    -ms-user-select: none;
     user-select: none;

    padding: 1.4vw 2vw; 
    background-color: var(--light-grey);
    list-style-type: none;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-zone .question .rotate-45{
    transform:rotate(-45deg);
}

.question-zone .response{
    padding: 1.4vw 2vw; 
    display: inline-block;
    margin-top: 1px;
    background-color: var(--light-grey);
}

.question-zone .response h2:not(:last-child){
    margin-bottom: 1em;
}

.common-questions .login{
    margin-top: 5vw;
}

.common-questions .login h3{
    text-align: center;
}
.common-questions .login .inputs{
    width: 46vw;
    height: 60px;
}

.footer{/* footer */
    border-top: 0.6vw solid var(--grey);

    color: var(--lighter-grey);
    font-weight: 200;
    padding-bottom: 4vw;
}

.footer h4, .footer h4 a{
    font-size: 1em;
    margin-bottom: 2em;
}

.footer h4 a:hover{
    text-decoration: underline;
}

.footer h4 a{
    margin-bottom: 2em;
    color: var(--lighter-grey);
    font-weight: 200;
}

.footer-main{
    width: 80%;
    margin: 0 auto;
}

.list-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer .footer-list{
    min-width: max-content;
    margin-right: 5vw;
    display: inline-block;
    list-style-type: none;
}

.footer-list li {
    font-size: 0.9rem;
    line-height: 2rem;
}

.footer-list li a{
    color: var(--lighter-grey);
    font-weight: 200;
}

.footer-list li a:hover{
    text-decoration: underline;
}

.laguage-select{
    margin: 4vw 0 2vw 0;
}

.laguage-select option{
    background-color: var(--black);
}


@media (min-width: 320px) and (max-width: 650px){    /* mobile devices */

    .header{
        height: 90vh
    }

    .header nav{
        margin-bottom: 1000px;
        height: 10vw;
        grid-template-columns: 1fr 2fr;
    }

    .header nav img{
        height: 7.5vw;
    }

    nav span{

        display: flex;
        justify-content: space-around;
        align-items: center;

        padding: 7px;
        padding-top: 0;
    }

    .laguage-select{
        margin: 0;
        padding: 3px 15px;
        font-size: 15px;
    }

    .header .header-mid{
        padding-top: 0;
    }

    .header nav .enter{
        text-align: center;
        padding: 2%px 4%;
        margin: 0 1%;
        height: 85%;
        width: 38%
    }

    h1{
        font-size: 1.6em
    }

    h2{
        font-size: 1.15em
    }

    h3{
        font-size: 1.15em
    }

    .header .login h3, .common-questions .login h3{
        padding: 0 9vw;
        margin:0;
    }

    .inputs, .common-questions .inputs{
        justify-content: center;

        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 2.3rem;
    }

    .header .inputs .button, .common-questions .login .button{
        width: 50%;
        margin: 4vw auto;
    }

    header .email-comit, .common-questions .email-comit{
        height: 40px;
        width: 112px;
        font-size: 1em;
    }

    .login .inputs div svg {
        transform: scale(0.7);
        top: 90%;
        right: 15%;
    }


    /* animation-cards */

    .animation-card {
        min-height: 80vh;
        border-bottom: 1vh solid var(--grey);
    }

    .animation-card-container{
        width: 90vw;
        grid-template-columns: 1fr;
        min-height: 100%;
        justify-items: center;
        align-items: center;

        text-align: center;
    }

    .animation-card-container h1{
        margin-bottom: 0.5em;
    }

    .animation-card-container .animation{
        width: 90vw;
        height: 90vw;
    }

    .animation-card-container .animation .animation-image{
        width: 100%;
    }

    .animation-card-container .animation .video-tv{
        position: absolute;
        top: 14.2vw;
        left: 12.2vw;
        width: 73%;
        z-index: -1;
    }

    .wath-offline-text, .kids-space-text{    /* divice mobile */
        order: 0;
    }

    .interative-animation-download{
        height: 22vw;
        width: 82.2vw;
        padding: 0.2vw 2.8vw;
        border: 2px solid hsla(0,0%,100%,.25);
        border-radius: 0.75em;
        position: absolute;
        top: 46%;
        left: 2.7%;
        background: var(--black);
    }

    .stranger-things-image {
        max-height: 85%;
    }

    .strangerthinks-text #p1{
        font-size: 0.9rem;
    }

    .strangerthinks-text #p2{
        font-size: 0.73rem;
        padding: 0 50px;
        margin-left: -34px;
    }

    .device-pile-animation .device-pile-video{     /* device-pile */
        border: 1px solid red;
        position: absolute;
        top: 7.1vw;
        left: 16.7vw;
        width: 56vw;
        z-index: -1;
    }

    .common-questions {     /* comon questions section */
        width: 100%;
        margin: 5vw auto;
    }

    .question-zone {
        margin-bottom: 2.7vw;
    }

    .question-zone .question {
        padding: 4vw 6vw;
    }

    .thin-x{
        width: 5vw;
    }
    
    .common-questions .login h3 { /*login down*/
        padding: 0 10vw;
    }

    .common-questions .login .inputs {
        width: 46vw;
        height: 114px;
    }

    .common-questions .login .inputs div svg {
        transform: scale(0.7);
        top: 90%;
        right: 1%;
    }

    .footer-list li {
        width: 30vw;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .footer .laguage-select{
        padding: 3% 0%;
        margin: 5vh 0 3vh 0;
        background-color: transparent;
        color: var(--white);
    }
}